version: '3.8'
services:
  qdrant:
    image: qdrant/qdrant
    container_name: nutriai-qdrant
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data:
